@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $main-font;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  //cursor: none !important;
}

html {
  height: 100%;
  overflow-x: hidden;
  //cursor: none !important;
}

body {
  width: 100vw;
  overflow-x: hidden;
  cursor: url("../assets/CursorDefault.svg") 4 12, auto;
}

.app.dark {
  background-color: $dark-color;
  color: $light-color;
}

a {
  cursor: url("../assets/CursorLink.svg") 4 12, auto;

  &:focus,
  &:active {
    cursor: url("../assets/CursorLink.svg") 8 24, auto;
  }
}

.app.light {
  background-color: $light-color;
  color: $dark-color;
}

.c-cursor {
  opacity: 1 !important;
  position: absolute;
  z-index: 9999;
}