@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $main-font;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

.app.dark {
  background-color: $dark-color;
  color: $light-color;
}

.app.light {
  background-color: $light-color;
  color: $dark-color;
}

//.eCIuTU {
//  border: none !important;
//  width: 32px !important;
//  height: 32px !important;
//  display: block !important;
//  background-color: unset !important;
//  background: url('../assets/CursorDefault.svg') no-repeat 50% 50%;
//  mix-blend-mode: exclusion;
//}
//
//.cZebqb {
//  border: none !important;
//  width: 32px !important;
//  height: 32px !important;
//  display: block !important;
//  background-color: unset !important;
//  background: url('../assets/CursorDefault.svg') no-repeat 50% 50%;
//  mix-blend-mode: exclusion;
//}
//
//.hAYfDH {
//  width: 32px !important;
//  height: 32px !important;
//  background-color: unset !important;
//  //background: url('../assets/CursorDefault.svg') no-repeat 50% 50%;
//}
//
