@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@800&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

//COLORS
$dark-color: #262222;
$light-color: #F3F2E8;
$lighter-color: #F3F1E8;

//FONTS
$main-font: 'Montserrat', 'Arial', sans-serif;
$secondary-font: 'Montserrat Alternates', 'Arial', sans-serif;

//BREAKPOINTS
$media-xs: '480px';
$media-sm: '576px';
$media-md: '768px';
$media-lg: '992px';
$media-xl: '1200px';
$media-xxl: '1600px';
