@import "../../styles/variables";

.homeHero {
  height: calc(100vh - 62px);

  @media (min-width: $media-md) {
    height: calc(100vh - 90px);
  }

  .content,
  .content .wrapper {
    height: 100%;
  }

  .homeHeroWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10vh 0 15vh;

    @media (max-width: $media-md) and (max-height: 550px) {
      padding: 5vh 0 15vh;
    }

    @media (min-height: $media-md) {
      padding: 10vh 0 15vh;
    }
  }
}