@import "../../styles/variables";

.homeHero {
  height: calc(100vh - 62px);

  @media (min-width: $media-md) {
    height: calc(100vh - 90px);
  }

  .homeHeroWrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10vh;
    padding: 25vh 0 10vh;

    @media (min-width: $media-md) {
      gap: 15vh;
      padding: 25vh 0 5vh;
    }

    @media (min-width: $media-lg) {
      gap: 20vh;
      padding: 25vh 0 5vh;
    }

    @media (min-width: $media-xl) {
      gap: 20vh;
      padding: 32vh 0 5vh;
    }

    @media (min-width: $media-xxl) {
      gap: 20vh;
      padding: 35vh 0 5vh;
    }
  }
}