@import "../../styles/variables";

.appWrapper {
  position: relative;
  z-index: 1;
  transition: opacity 0.4s ease-in-out;
  opacity: 0;
  animation: websiteAppear 0.4s ease-in-out forwards;
  padding-top: 62px;

  @media (min-width: $media-md) {
    padding-top: 90px;
  }

  .appPageContent {
    position: relative;
    z-index: 5;
  }
}

@keyframes websiteAppear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.app.menuOpen {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}