@import "../../styles/variables";

.workPage {
  .workWrapper {
    display: grid;
    height: 100%;
    gap: 40px;
    padding: 65px 0 20px;

    @media (min-width: $media-md) {
      gap: 65px;
      padding: 15px 0;
    }

    @media (min-width: $media-lg) {
      gap: 132px;
      padding: 48px 0 16px;
    } 
  }
  
  .worksListWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 65px;

    @media (min-width: $media-md) {
      column-gap: 86px;
      row-gap: 90px;
    }

    @media (min-width: $media-lg) {
      column-gap: 178px;
      row-gap: 119px;
    }
  }

  .workPageGetInTouch {
    position: relative;
    margin: 80px 0 64px;
    height: 70px;
    opacity: 1;
    transition: opacity 0.4s ease-in-out;

    &.hidden {
      opacity: 0;
    }

    @media (min-width: $media-md) {
      margin: 110px 0 100px;
    }

    @media (min-width: $media-lg) {
      margin: 147px 0 115px;
      height: 86px;
    }

    .workPageGetInTouchWrapper {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
    }
  }

  .react-parallax-bgimage {
    width: auto !important;
    min-width: 100% !important;
    object-fit: cover !important;
  }

  .workCard.large {
    .react-parallax-bgimage {
      height: 125% !important;

      @media (min-width: $media-md) {
        height: 120% !important;
      }

      @media (min-width: $media-lg) {
        height: 115% !important;
      }
    }
  }

  .workCard.small {
    .react-parallax-bgimage {
      height: 120% !important;

      @media (min-width: $media-md) {
        height: 125% !important;
      }

      @media (min-width: $media-lg) {
        height: 110% !important;
      }

      @media (min-width: $media-xl) {
        height: 115% !important;
      }
    }
  }
}
